<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FLS" version="1.1.6.0" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.2.3" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.19.0" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.2.3" targetFramework="net45" />
  <package id="OxyPlot" version="1.0.0-unstable2063" targetFramework="net45" />
  <package id="OxyPlot.Core" version="1.0.0-unstable2063" targetFramework="net45" />
  <package id="OxyPlot.WindowsForms" version="1.0.0-unstable2063" targetFramework="net45" />
  <package id="OxyPlot.Wpf" version="1.0.0-unstable2063" targetFramework="net45" />
</packages>